@model IEnumerable<Aplication.VeiwModels.Genero.GeneroViewModel>

@{
    ViewData["Title"] = "Generos";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Generos</h2>
        <a asp-action="AddGenero" class="btn btn-primary mb-3">Agregar Genero</a>
    </div>

    <div class="tipos-container">
        @if (Model == null || !Model.Any())
        {
            <div class="alert alert-warning">No hay generos disponibles</div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="d-flex justify-content-between align-items-center tipos-list p-3 m-2 bg-white text-black rounded-2 shadow-sm">
                    <p class="ms-2 mb-0">@item.NombreGenero</p>
                    <div>
                        <a asp-action="EditGenero" asp-route-id="@item.IdGenero" class="btn btn-warning btn-sm mx-1">Editar</a>
                        <a asp-action="DeleteGenero" asp-controller="Genero" asp-route-id="@item.IdGenero" class="btn btn-danger btn-sm mx-1">Eliminar</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
