body {
    background-color: #212529; /* Fondo oscuro */
    color: #f8f9fa; /* Texto claro */
}

.navbar {
    background-color: #343a40; /* Color de la barra de navegación #343a40*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para el efecto 3D */
    border-radius: 0.5rem; /* Bordes redondeados */
}

.navbar-brand, .nav-link {
    color: #f8f9fa; /* Color del texto */
    transition: color 0.3s ease, transform 0.3s ease; /* Animación suave para color y transformación */
}

    .navbar-brand:hover, .nav-link:hover {
        color: #adb5bd; /* Color de texto al pasar el mouse */
        transform: translateY(-2px); /* Levanta el enlace ligeramente al pasar el mouse */
    }

.navbar-nav .nav-link {
    position: relative; /* Para el efecto de fondo */
}

    .navbar-nav .nav-link::after {
        content: ''; /* Pseudo-elemento para el efecto de fondo */
        position: absolute;
        width: 100%;
        height: 3px; /* Altura de la línea de fondo */
        background-color: #adb5bd; /* Color de la línea */
        bottom: 0;
        left: 0;
        transform: scaleX(0); /* Inicialmente oculta */
        transition: transform 0.3s ease; /* Animación suave */
    }

    .navbar-nav .nav-link:hover::after {
        transform: scaleX(1); /* Muestra la línea al pasar el mouse */
    }

main {
    padding: 20px; /* Espaciado en el contenido principal */
}

footer {
    background-color: #343a40;
    color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
